<!-- Partners Section -->
<section class="py-4 bg-gradient-to-r from-primary-600 to-secondary-600 text-white bg-white overflow-hidden">
    <div class=" mx-auto px-1 sm:px-1 lg:px-1">
        <!-- Marquee Container -->
        <div class="relative overflow-hidden">
            <!-- Track -->
            <div class="flex animate-marquee space-x-12">
                
                <img src="https://tlimedia.imgix.net/images/partners/destination-canada.png" class="h-12 w-auto"
                    alt="Destination Canada" />
                <img src="https://tlimedia.imgix.net/images/partners/dubai-expert.png" class="h-12 w-auto"
                    alt="Dubai Expert" />
                <img src="https://tlimedia.imgix.net/images/partners/germany.png" class="h-12 w-auto" alt="Germany" />
                <img src="https://tlimedia.imgix.net/images/partners/hong-kong-expert.png" class="h-12 w-auto"
                    alt="Hong Kong Expert" />
                <img src="https://tlimedia.imgix.net/images/partners/incredible-india.png" class="h-12 w-auto"
                    alt="Incredible India" />
                <img src="https://tlimedia.imgix.net/images/partners/new-zealand-expert.png" class="h-12 w-auto"
                    alt="New Zealand Expert" />
                <img src="https://tlimedia.imgix.net/images/partners/quatar-expert.png" class="h-12 w-auto"
                    alt="Qatar Expert" />
                <img src="https://tlimedia.imgix.net/images/partners/singapore-tourism.png" class="h-12 w-auto"
                    alt="Singapore Tourism" />
                <img src="https://tlimedia.imgix.net/images/partners/south-african-specialist.png" class="h-12 w-auto"
                    alt="South Africa" />
                    
                <img src="https://tlimedia.imgix.net/images/partners/srilanka.png" class="h-12 w-auto"
                    alt="Sri Lanka" />
                <img src="https://tlimedia.imgix.net/images/partners/switzerland.png" class="h-12 w-auto"
                    alt="Switzerland" />
                <img src="https://tlimedia.imgix.net/images/partners/thailand-expert.png" class="h-12 w-auto"
                    alt="Thailand" />
                    <img src="https://tlimedia.imgix.net/images/partners/amadeus.png" class="h-12 w-auto" alt="Amadeus" />
                <img src="https://tlimedia.imgix.net/images/partners/tourism-australia.png" class="h-12 w-auto"
                    alt="Australia" />
                <img src="https://tlimedia.imgix.net/images/partners/tourism-specialist.png" class="h-12 w-auto"
                    alt="Tourism Specialist" />
                <img src="https://tlimedia.imgix.net/images/partners/wonderful-indonesia.png" class="h-12 w-auto"
                    alt="Wonderful Indonesia" />
                
            </div>
        </div>
    </div>
</section>